body
{
	margin: 0;
	padding: 0;
	font: 1em/2em sans-serif;
	background: #eee;
	color: #3d3d3d;
	z-index: 10;
}
/*
#header
{
	background: #41ade5;
    -webkit-clip-path: polygon(0 0, 100% 33%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 40%, 100% 90%, 0 100%);
    z-index: 1;
}
*/
#footer
{
	background: rgb(235, 180, 10);
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 30%, 100% 85%, 0 100%);
    z-index: 1;
}
img
{
	width: 250px;
	height: 300px;
	border: 5px double #ccc;
}
div.col-lg-4
{
	width: 260px;
	margin: 0;
	padding: 0;
	max-width: 260px;
}
.t3d
{
	width: 250px;
	height: 300px;
	margin: 50px;
	perspective: 1000px;
}
.t3d:hover .rotate
{
	transform: rotateY(180deg);
}
.t3d2
{
	width: 250px;
	height: 300px;
	margin: 50px;
	perspective: 1000px;
}
.t3d2:hover .rotate
{
	transform: rotateX(180deg);
}
.rotate
{
	position: relative;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.text
{
	background: #fff;
	width: 250px;
	height: 300px;
	border: 5px double #ccc;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.text2
{
	background: #fff;
	width: 250px;
	height: 300px;
	border: 5px double #ccc;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform: rotateX(180deg);
}
.pd
{
	padding: 20px;
}
#main{
    width: 95%;
    margin-left: 2.5%;
}
.main-row{
    margin-left: 10%;
}
#brand{
    text-decoration: none;
    color: #000;
}